TALPA_ALLEGRO_CLIENT_ID=YourAllegroClientID
TALPA_ALLEGRO_API_KEY=YourAllegroApiKey
TALPA_ALLEGRO_BASE_URL=https://allegro.pl
TALPA_ALLEGRO_DEFAULT_REDIRECT_URI=http://localhost:8000/
TALPA_ALLEGRO_CLIENT_SECRET=YourAllegroClientSecret
